body{
    position: relative;
    background-color: #fff;
    width: auto;
    margin: 0;
    padding: 0;

}
section{
    margin: 0;
    display: block;
}


img{
   margin: 0;
    width: 100%;
}
.onetxt{
    position: absolute;
    top: 2%;
    left: 1%;
}
.onetxt h3{
    color: #fff;
    font-size: 3em;
    font-family: waiting-for-the-sunrise;
}
.twotxt{
    position: absolute;
    top: 35%;
    left: 65%;
}
.twotxt h3{
    color: darkgoldenrod;
    font-size: 3em;
    font-family: waiting-for-the-sunrise;

}
.threetxt{
    position: absolute;
    top: 90%;
    left: 55%;
}
.threetxt h3{
    color: azure;
    font-size: 3em;
    font-family: waiting-for-the-sunrise;
}
