body{
    position: relative;
    background-color: #fff;
    width: auto;
    margin: 0;
    padding: 0;

}
section{
    margin: 0;
    display: block;
}
header{
  background-color: #f4f4f4;

  position: relative;
  height: 200px;
  width: 100%;
  border-bottom: 3px solid red;
  box-shadow: 0.2px 0.5px black;
  /*display: block;*/
}


img{
   margin: 0;
    width: 100%;
}
.logo{
    display: inline-block;
    height: 200px;
    width: 200px;
    /*float: left;*/
}
.logo img{
    height: 100%;
}
.social{
    display: inline-block;
    width: auto;
    float: right;

}
.social p{display: inline-block}

.onetxt{
    position: absolute;
    top: 7%;
    left: 1%;
}
.onetxt h3{
    color: #fff;
    font-size: 3em;
    font-family: waiting-for-the-sunrise;
}
.twotxt{
    position: absolute;
    top: 35%;
    left: 65%;
}
.twotxt h3{
    color: darkgoldenrod;
    font-size: 3em;
    font-family: waiting-for-the-sunrise;

}
.threetxt{
    position: absolute;
    top: 90%;
    left: 55%;
}
.threetxt h3{
    color: azure;
    font-size: 3em;
    font-family: waiting-for-the-sunrise;
}
#tops{
    display: block;
}


